
{% extends 'header-footer.html' %}
{% load static %}
{% block content %}
<div class="register-categorie">
    <div class="form-container">
        <div class="image-holder"><img src="{% static 'assets/article3.jpg' %}" alt="image"></div>
        <form method="post" action="{% url 'AddArticle' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center"><strong>Create</strong> an article.</h2>
            <div class="form-group">
                <input class="form-control" type="text" id="nomArticle" name="nomArticle" placeholder="Nom de l'article">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" id="prix" name="prix" placeholder="Prix">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" id="stock" name="stock" placeholder="Stock">
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="customFile" onchange="updateFileName()">
                <label class="custom-file-label" for="customFile">Choisir un fichier</label>
            </div><br>
            <div class="form-group">
                <input type="checkbox" id="disponibilite" name="disponibilite" checked>
                <label for="disponibilite">Disponibilité</label>
            </div>
            <div class="form-group">
                <label for="promotion">Promotion:</label>
                <select id="promotion" name="promotion">
                    <option value="">Aucune promotion</option>
                    {% for promotion in promotions %}
                        <option value="{{ promotion.id }}">{{ promotion.nomPromotion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="categorie">Catégorie:</label>
                <select id="categorie" name="categorie">
                    {% for categorie in categories %}
                        <option value="{{ categorie.id }}">{{ categorie.nomCategorie }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Add Article</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
