
{% extends 'header-footer.html' %}
{% load static %}
{% block content %}
<div class="register-categorie">
    <div class="form-container">
        <div class="image-holder"><img src="{% static 'assets/categorie.jpg' %}" alt="image"></div>
        <form method="post" action="{% url 'AddCategorie' %}" enctype="multipart/form-data" >
            {% csrf_token %}
            <h2 class="text-center"><strong>Create</strong> a category.</h2>
            <div class="form-group">
                <input class="form-control" type="text" name="nom" placeholder="Nom">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" placeholder="Description"></textarea>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="customFile" onchange="updateFileName()">
                <label class="custom-file-label" for="customFile">Choisir un fichier</label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Create Category</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
